.navContainer {
    background: linear-gradient(90deg, rgba(30,30,31,1) 0%, rgba(29,29,29,1) 100%, rgba(117,117,117,1) 100%);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0 0 4px #ed9f4b;
}
.navh2 {
    color: white;
} 
.navBtn {
    background-color: rgb(29, 143, 128);
    color: white;
    align-items: center;
    gap: 0.5rem;
}
